<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="card">
        <div class="row">


          <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
                        [animation]="'slide'">
            <mdb-carousel-item *ngFor="let item of slides.articles; let i = index">
              <div class="col-md-4" [ngClass]="{'d-none d-md-block': cardIndex !== 0}"
                   *ngFor="let card of item; let cardIndex = index">
                <mdb-card cascade="true" narrower="true">
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                  <mdb-card-img [src]="card.urlToImage" alt="no Image Found" style="width: 22px"></mdb-card-img>
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                  <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                    <!--Card content-->
                    <h5 class="pink-text">
                      <mdb-icon fas icon="rss"></mdb-icon> {{card.source.name}}</h5>
                    <!--Title-->
                    <h4 class="card-title"><strong>{{card.title}}</strong></h4>
                    <!--Text-->

                    <mdb-card-text>{{card.description}} </mdb-card-text>

                    <a  href="{{card.url}}" mdbBtn color="unique" class="waves-light" mdbWavesEffect>Read More</a>

                    <!-- Card footer -->
                    <div class="card-footer text-muted text-center mt-4">
                      {{card.publishedAt | date:'short'}}
                    </div>

                  </mdb-card-body>

                </mdb-card>
              </div>
            </mdb-carousel-item>
          </mdb-carousel>

        </div>
      </div>
    </div>
  </div>
</div>
