<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="row text-center">
      <div class=""><h1 class="text-white"> Country: {{indiastatus.country}}</h1></div><div> &nbsp;&nbsp;&nbsp;<img  class="flag" src="https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/in.png"></div><br><br><br>
    </div>
  </div>
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Cases</h5>
                  <span class="h2 font-weight-bold mb-0">{{indiastatus.cases}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-stethoscope"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>just now</span>
                <span class="text-nowrap">last Updated</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Today Cases</h5>
                  <span class="h2 font-weight-bold mb-0">{{indiastatus.todayCases}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-ambulance"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> just now</span>
                <span class="text-nowrap">last Updated</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Deaths</h5>
                  <span class="h2 font-weight-bold mb-0">{{indiastatus.deaths}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-frown"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>just now</span>
                <span class="text-nowrap">last Updated</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Today Deaths</h5>
                  <span class="h2 font-weight-bold mb-0">{{indiastatus.todayDeaths}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-user-md"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>just now</span>
                <span class="text-nowrap">last Updated</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <br> <br>
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Recovered</h5>
                  <span class="h2 font-weight-bold mb-0">{{indiastatus.recovered}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-grin-hearts"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> just now</span>
                <span class="text-nowrap">last Updated</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Hospitalized</h5>
                  <span class="h2 font-weight-bold mb-0">{{indiastatus.active}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-procedures"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> just now</span>
                <span class="text-nowrap">last Updated</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Critical</h5>
                  <span class="h2 font-weight-bold mb-0">{{indiastatus.critical}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-sad-tear"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> just now</span>
                <span class="text-nowrap">last Updated</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">1 in 100 might die 😵 fatality rate</h5>
                  <span class="h2 font-weight-bold mb-0">{{indiastatus.casesPerOneMillion}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-dizzy"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> just now</span>
                <span class="text-nowrap">last Updated</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <h1 class="text-red text-capitalize text-center"> State Wise Update</h1>
        <div class="container-fluid text-center text-green">Last Update: <i>{{indianstate.lastUpdated | date:'medium'}}</i></div>
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" class="table align-items-center table-flush">
            <thead>
            <tr>
              <th scope="col">States</th>
              <th scope="col">Total Indian Cases</th>
              <th scope="col">Total Foreign Cases</th>
              <th scope="col">Total Recovered</th>
              <th scope="col">Total Deaths</th>
              <th scope="col">New Cases Today</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let stats of indianstate.data | keyvalue">
              <td>{{stats.key}}</td>
              <td>{{stats.value.totalIndianCases}}</td>
              <td>{{stats.value.totalForeignCases}}</td>
              <td>{{stats.value.totalRecovered}}</td>
              <td>{{stats.value.totalDeaths}}</td>
              <td>{{stats.value.newCasesToday}}</td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Notes:</h6>
              <h2 class="mb-0">Now Available on Android</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <a href="https://bit.ly/corona-tracker-india" target="_blank">
              <img class="who-img img-fluid" src="../../../assets/img/icons/common/google_play.png">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
