// Custom card box
.card-box {
  background-color: #f6f9fc;
  padding: 1.25rem;
  box-shadow: 0 0.75rem 6rem rgba(56, 65, 74,.03);
  margin-bottom: 30px;


.card-drop {
  color: #6c757d;
  font-size: 20px;
  display: inline-block;
  line-height: 1px;
}
}

.travel-alert{
  padding-bottom: 80px;
}

