<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

      <!-- Card stats -->
      <div class="container-fluid">


        <div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
             class="modal fade d-block" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body text-center pt-4">

                <div *ngIf="modalStep == 1" class="modal-step" [@fadeInOutAnimation]>
                  <img src="assets/img/content/step-1.png" width="125">
                  <h5 class=" mt-3">KNOW HOW IT <span class="text-blue">SPREADS</span></h5>
                  <h6 class="">There is currently No Vaccine to prevent <span class="text-danger">COVID-19</span>
                  </h6>
                  <p>The virus is thought to spread mainly from person-to-person contact
                    through respiratory droplets produced when an infected person coughs or sneezes.</p>
                </div>
                <div *ngIf="modalStep == 2" class="modal-step" [@fadeInOutAnimation]>
                  <img src="assets/img/content/step-2.png" width="125">
                  <h5 class=" mt-3">TAKE STEPS TO <span class="text-blue">PROTECT YOURSELF</span></h5>
                  <p>Frequently Wash your hands with soap and water for at least 20 seconds. Always Carry a hand
                    sanitizer
                    that contains at least 60% alcohol.
                    Avoid touching your eyes, nose, and mouth with unwashed hands.</p>
                </div>
                <div *ngIf="modalStep == 3" class="modal-step" [@fadeInOutAnimation]>
                  <img src="assets/img/content/step-3.png" width="125">
                  <h5 class=" mt-3">AVOID <span class="text-blue">CLOSE CONTACT</span></h5>
                  <p>Avoid close contact with people who are sick. Put distance between yourself and other people if
                    COVID-19/Coronavirus is spreading in your community.</p>

                </div>
                <div *ngIf="modalStep == 4" class="modal-step" [@fadeInOutAnimation]>
                  <img src="assets/img/content/step-4.png" width="125">
                  <h5 class=" mt-3">TAKE STEPS TO <span class="text-blue">PROTECT YOURSELF</span></h5>
                  <p>
                    Cover your mouth and nose with a tissue when you cough or sneeze or use the inside of your elbow.
                    Immediately wash your hands with soap and water for at least 20 seconds or clean your hands with a
                    hand sanitizer that contains at least 60% alcohol.
                  </p>
                </div>
                <div *ngIf="modalStep == 5" class="modal-step" [@fadeInOutAnimation]>
                  <img src="assets/img/content/step-5.png" width="125">
                  <h5 class=" mt-3">CLEAN & <span class="text-blue">DISINFECT</span></h5>
                  <p>
                    Clean & disinfect frequently touched surfaces daily. This includes tables, doorknobs, light
                    switches,
                    countertops, handles, desks, phones, keyboards, toilets, faucets, and sinks.
                    If surfaces are dirty, clean them: Use detergent or soap and water prior to disinfection.
                  </p>
                </div>
                <div class="col-12 text-center" *ngIf="modalStep!=5">
                  <button (click)="nextStep()" class="btn btn-secondary waves-effect waves-light mb-4"><span>Next
              </span><i class="fa fa-arrow-right mr-1"></i></button>
                </div>
                <div class="col-12 text-center" *ngIf="modalStep==5">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="forDontShow" #dontShow>
                      <label class="custom-control-label" for="forDontShow">Don't Show again</label>
                    </div>
                  </div>
                  <button (click)="close(dontShow.checked)" class="btn btn-blue waves-effect waves-light mb-4"><i
                    class="fas fa-times-circle mr-1"></i><span> Close</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h1 style="color: white"><strong>Global Current Update</strong></h1>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Cases</h5>
                  <span class="h2 font-weight-bold mb-0">{{currentUpdate.cases}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>{{lastupdate | date:'short'}}</span>
                <span class="text-nowrap">last Updated</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Deaths</h5>
                  <span class="h2 font-weight-bold mb-0">{{currentUpdate.deaths}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-frown"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{lastupdate | date:'short'}}</span>
                <span class="text-nowrap">last Updated</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Recovered</h5>
                  <span class="h2 font-weight-bold mb-0">{{currentUpdate.recovered}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-smile-beam"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>{{lastupdate | date:'short'}}</span>
                <span class="text-nowrap">last Updated</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Todays Deaths</h5>
                  <span class="h2 font-weight-bold mb-0">{{currentUpdate.todayDeaths}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-smile-beam"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>{{lastupdate | date:'short'}}</span>
                <span class="text-nowrap">last Updated</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <br><br>

      <div class="container-fluid">
        <h1 style="color: white"><strong>India Status Update</strong></h1>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Cases</h5>
                  <span class="h2 font-weight-bold mb-0">{{indiastatus.cases}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{lastupdate | date:'short'}}</span>
                <span class="text-nowrap">last Updated</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Deaths</h5>
                  <span class="h2 font-weight-bold mb-0">{{indiastatus.deaths}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-frown"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{lastupdate | date:'short'}}</span>
                <span class="text-nowrap">last Updated</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Recovered</h5>
                  <span class="h2 font-weight-bold mb-0">{{indiastatus.recovered}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-smile-beam"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{lastupdate | date:'short'}}</span>
                <span class="text-nowrap">last Updated</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Active</h5>
                  <span class="h2 font-weight-bold mb-0">{{indiastatus.active}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-smile-beam"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{lastupdate | date:'short'}}</span>
                <span class="text-nowrap">last Updated</span>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="card">
    <br>
    <br>
    <br>
    <div class="card-box text-center">
      <h4 class="header-title mt-0 mb-3 mt-md-0">Worldwide Infections
        <button type="button" class="btn btn-xs btn-lighten-secondary waves-effect waves-light width-xs mr-md-1 mr-0"
                (click)="showModal();">How to prevent?
        </button>
      </h4>
    </div>
    <div class="col-xl-12">
      <div class="card-box text-center">
        <h5>Outbreak Started</h5>
        <app-countup></app-countup>
      </div>
      <div class="card-box text-center">

        <h5>Share with your friends, family or coworkers.</h5>
        <p>Keep them up to date with the coronavirus outbreak.</p>
        <a class="btn btn-icon waves-effect btn-blue mr-1" target="_blank"
           href="https://www.facebook.com/sharer/sharer.php?u=https://covid19indiatracker.com/"> <i
          class="fab fa-facebook"></i> </a>
        <a class="btn btn-icon waves-effect btn-blue mr-1" target="_blank"
           href="https://twitter.com/intent/tweet?url=https://covid19indiatracker.com/&hashtags=Covid_19,CoronavirusPandemic,coronastatistics,corona&text=Stay%20Updated%20with%20Live%20Coronavirus%20Tracker">
          <i class="fab fa-twitter"></i> </a>
        <a class="btn btn-icon waves-effect btn-blue mr-1" target="_blank"
           href="https://vk.com/share.php?url=https://covid19indiatracker.com/"> <i class="fab fa-vk"></i> </a>
        <a class="btn btn-icon waves-effect btn-blue"
           href="whatsapp://send?text=Coronavirus live statistics and tracker https://covid19indiatracker.com/"
           data-action="share/whatsapp/share"> <i class="fab fa-whatsapp"></i> </a>
      </div>
    </div><!-- end col -->


  </div>
</div>


