<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="card">
        <div class="container-fluid text-center">
          <h1 class="display-2 text-blue">FQA</h1>
        </div>
        <div class="container-fluid text-center">
          <img src="../../../assets/img/content/faq.png" class="faq">
        </div>
        <div class="container-fluid">
          <div class="FAQ ">
            <div *ngFor="let value of faq.faq" class="faq fadeInUp" style="animation-delay: 0.5s;"><h2 class="question">{{value.question}}</h2>
              <h2 class="answer">{{value.answer}}</h2></div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
